<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Place an Order</title>
</head>

<body>
  <h1>Place an Order</h1>
  <form method="post" action="/orders/place">
    <p>
      UserID: <input type="text" name="userID" />
    </p>
    <p>
      ProductIDs: <input type="text" name="productIDs" />
    </p>
    <p>
      ShippingTypeID: <input type="text" name="shippingTypeID" />
    </p>
    <input type="submit" value="Place order" />
  </form>
</body>

</html>